.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.0em;
    margin: 0 0 10px 0;
}

.logo-img {
    margin-right: 10px;
    color: #64B5F6;
}

.container {
    width: 350px;
    height: min-content;
}

.login-form-button {
    width: 100%;
}

.login-form-forgot {
    float: right;
}